{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>File converter</title>
</head>
<body>
    <header>
        <p class="logo">Logo</p>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="upload-file">
            <input type="file" name="" id="">
            <p>Drop files here</p>
        </div>
        
    </main>
    <section>
        <ul>
            <li>a</li>
            <li>b</li>
            <li>c</li>
        </ul>
    </section>
</body>
</html>